* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 100px;
    margin: 0 auto;
    width: 35%;
}

.containerMarcas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 100px;
    margin: 0 auto;
    width: 35%;
}

.containerClientes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 100px;
    padding-left: 25px;
}

.containerProductos {
    margin: 20px;
}

.containerProveedores {
    display: flex;
    padding-top: 100px;
    padding-left: 15px;
}

.containerFiltroAvanzado {
    padding-top: 50px;
    padding-left: 15px;
}

.containerCategorias {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 100px;
    padding-left: 25px;
    padding-bottom: 50px;
}

.containerFiltroAv {
    padding-left: 25px;
}

.espacioFiltro {
    gap: 20px;
}

.coldf {
    flex-basis: 25%;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.btn-default {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    height: 100px;
    width: 100%;
}

.btn img {
    max-height: 75%;
    width: auto;
    display: block;
}

.btn div {
    margin-top: 5px;
    font-size: 1rem;
}

.btn-sm.cerrar, .btn-sm.guardar {
    padding: 4px 6px;
    font-size: 1rem;
    border-radius: 4px;
    height: 30px;
    width: auto;
}

.btn-primary {
    color: white;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-add-m {
    display: flex;
    padding-right: 260px;
    justify-content: center;
}

.btn-mod {
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.tableMarcas {
    width: 100%;
    table-layout: fixed;
}

    .tableMarcas th, .tableMarcas td {
        text-align: left;
        vertical-align: middle;
        padding: 8px;
    }

    .tableMarcas .acciones {
        width: 200px;
    }

.tableClientes {
    width: 100%;
}

.tableVentasClientes {
    width: 100%;
}

.tableClientes th, .tableClientes td {
    text-align: left;
    vertical-align: middle;
    padding: 8px;
}

.tableProductos {
    width: 100%;
}

    .tableProductos th, .tableProductos td {
        text-align: left;
        vertical-align: middle;
        padding: 8px;
    }

.btn-acciones {
    visibility: hidden;
    margin-right: 5px;
}

tr:hover .btn-acciones {
    visibility: visible;
}


.btn-acciones {
    display: inline-block;
}

.h2listado {
    padding-right: 15px;
}

.btn-secondary img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 100%;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 5px;
    transition: transform 0.2s;
    flex: 0 1 200px;
}

    .card:hover {
        transform: scale(1.02);
    }

.card-header {
    background-color: #f2f2f2;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.card-footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btn .btn-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

.user-card {
    max-width: 250px;
    min-height: 320px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-img {
    height: 150px;
    object-fit: cover;
}

.card-body {
    font-size: 0.9rem;
    padding: 10px;
}

.tags {
    margin-top: 10px;
}

.badge {
    font-size: 0.75rem;
    margin-right: 5px;
}

.card-footer {
    background-color: #f8f9fa;
    font-size: 0.85rem;
    padding: 5px 10px;
}

.containerUsuariosCard {
    padding: 15px 25px;
}

.containerTarjetas {
    flex: 0 0 15%;
    max-width: 15%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerRepMarcas {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin: 20px auto;
    padding-left: 168px;
}

.containerRepMarcas1 {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 20px;
    margin: 20px auto;
    padding-left: 310px;
}

.drpRepClientes::after {
    display: none;
}

.primerCliente {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.reporteClientes {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 40px;
    text-align: center;
}

    .reporteClientes ul + ul {
        margin-top: 15px;
    }

.containerVentas {
    padding-top: 70px;
    padding-left: 25px;
}

.containerVolver {
    padding-top: 20px;
    padding-left: 20px;
}

.tableVentasClientes tbody tr td .btn {
    display: none; /* Oculta el botón Facturar por defecto */
}

.tableVentasClientes tbody tr:hover td .btn {
    display: inline-block; /* Muestra el botón cuando el mouse está sobre la fila */
}
