* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 100px;
    margin: 0 auto;
    width: 35%;
}

.containerMarcas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 100px;
    margin: 0 auto;
    width: 35%;
}

.containerClientes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 100px;
    margin: 0 auto;
    width: 65%;
}

.containerProductos {
    margin: 20px;
}

.containerProveedores {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.containerCategorias {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 100px;
    margin: 0 auto;
    width: 35%;
}

.coldf {
    flex-basis: 25%;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.btn-default {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    height: 100px;
    width: 100%;
}

.btn img {
    max-height: 75%;
    width: auto;
    display: block;
}

.btn div {
    margin-top: 5px;
    font-size: 1rem;
}

.btn-sm.cerrar, .btn-sm.guardar {
    padding: 4px 6px;
    font-size: 1rem;
    border-radius: 4px;
    height: 30px;
    width: auto;
}

.btn-primary {
    color: white;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-add-m {
    display: flex;
    padding-right: 260px;
    justify-content: center;
}

.btn-mod {
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.tableMarcas {
    width: 100%;
    table-layout: fixed;
}

    .tableMarcas th, .tableMarcas td {
        text-align: left;
        vertical-align: middle;
        padding: 8px;
    }

    .tableMarcas .acciones {
        width: 200px;
    }

.tableClientes {
    width: 100%;
}

    .tableClientes th, .tableClientes td {
        text-align: left;
        vertical-align: middle;
        padding: 8px;
    }

.tableProductos {
    width: 100%;
}

    .tableProductos th, .tableProductos td {
        text-align: left;
        vertical-align: middle;
        padding: 8px;
    }

.btn-acciones {
    visibility: hidden;
    margin-right: 5px;
}

tr:hover .btn-acciones {
    visibility: visible;
}


.btn-acciones {
    display: inline-block;
}

.h2listado {
    padding-right: 15px;
}

.btn-secondary img {
    width: 16px; /* Ajusta el tamaño según tus necesidades */
    height: 16px; /* Ajusta el tamaño según tus necesidades */
    vertical-align: middle; /* Alinea la imagen verticalmente */
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Espacio entre cartas */
    max-width: 100%;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 5px;
    transition: transform 0.2s; /* Efecto de hover */
    flex: 0 1 200px;
}

    .card:hover {
        transform: scale(1.02);
    }

.card-header {
    background-color: #f2f2f2;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.card-body {
    /*padding: 10px;*/
}

.card-footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.img {
    width: 200px;*/ /* Ajusta el ancho según necesites */
    /*height: auto;*/ /* Mantiene la proporción */
    /*margin-left: 40px;

}*/

.btn .btn-icon {
    width: 16px; /* Ajusta el tamaño de la imagen */
    height: 16px; /* Ajusta el tamaño de la imagen */
    vertical-align: middle; /* Alinea la imagen verticalmente con el texto */
    margin-right: 5px; /* Añade espacio entre la imagen y el texto */
}

